<section class="form-logger">
<div class="back-home">
<div><button><i class="fa fa-arrow-left"></i></button></div>
<div class="login">Login</div>
<div class="log-btn">login</div>
</div>
<div class="form-wrapper">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</section>