<h1>Categories</h1>

<% @categories.each do |category| %>
  <div class="category-item">
    <%= image_tag category.icon %>
    <h2><%= category.name %></h2>
    <p>Total Amount: <%= number_to_currency(category.total_amount) %></p>
    <%= link_to "View Transactions", category_path(category) %>
  </div>
<% end %>

<%= link_to "Add a new category", new_category_path, class: "btn" %>
